*.csv
*.orig
*.pyc
*.swo
*.swp
*.un~
.project
.pydevproject
.settings/
.vagrant
__pycache__
cache
celerybeat-schedule
celerybeat.pid
celeryev.pid
db.sqlite3
docs/_build
docs/_build_html
local_settings.py
media/
reports/
sensitive
venv
wheelhouse/
